<div class="">
  <h1>My bookings:</h1>
  <h3><%= link_to 'Back to home', root_path %></h3>


  <div class="booking-card">
    <% @bookings.each do |booking| %>

      <% if booking.user_id == current_user.id %>
        <li>
          <%="Name: #{booking.event.name}"%>
          <%="Location: #{booking.event.location}"%>
          <%="Capacity: #{booking.event.capacity}"%>
          <%="Description: #{booking.event.description}"%>
          <%="Category: #{booking.event.category}"%>
          <%# <%= link_to 'Edit', edit_booking_path(booking)  %>
          <%# <%= link_to 'Delete', booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    <% end %>
  </div>
</div>
