<div class="container">
  <h1>Events</h1>
  <p>Here are all our amazing events #trippy</p>
    <% @events.each do |event| %>
      <div class="events-card">
        <li class="name">
          <%="Name: #{event.name}"%>
        </li>
        <li class="info">
          <%="Location: #{event.location}"%>
        </li>
        <li class="info">
          <%="Capacity: #{event.capacity}"%>
        </li>
        <li class="info">
          <%="Description: #{event.description}"%>
        </li>
        <li class="info">
          <%="Category: #{event.category}"%>
        </li>
      </div>
    <% end %>
</div>
