<div class="other-container">
  <h1>Events</h1>
  <h3>Here are all our amazing events #trippy</p>
    <% @events.each do |event| %>
      <div class="events-card col-sm-1 col-md-6 col-lg-12">
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
        <li class="name">
          <%=link_to event.name, event_path(event)%>
        </li>
        <li class="info">
          <%=event.location%>
        </li>
        <li class="info">
          <%=event.capacity%>
        </li>
        <li class="info">
          <%=event.description%>
        </li>
        <li class="info">
          <%=event.category%>
        </li>
      </div>
    <% end %>
</div>
