<div class="container">
  <h1>Events</h1>
  <p>Here are all our amazing events #trippy</p>
    <% @events.each do |event| %>
      <div class="events-card">
        <% if event.has_photos_attached? %>
          <% event.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
          <% end %>
        <% end %>

        <li class="name">
          <%=event.name%>
        </li>
        <li class="info">
          <%=event.location%>
        </li>
        <li class="info">
          <%=event.capacity%>
        </li>
        <li class="info">
          <%=event.description%>
        </li>
        <li class="info">
          <%=event.category%>
        </li>
      </div>
    <% end %>
</div>
