<h1>Events</h1>
<h4>Lucid is an immersive theatre events company.
Our events allow you to immerse yourself in the experience of a character’s dream.
We encourage you to choose an event to attend according to which character’s description intrigues you the most. Prepare yourselves for an awe-inspiring once in a life time experience.</h4>
<h3 class="h3">HERE ARE OUR AMAZING EVENTS:</h3>
<div class="other-container">
  <% @events.each do |event| %>
    <div class="events-card" data-aos="flip-down" data-aos-duration=90>
      <% if event.photo.attached? %>
        <%= cl_image_tag event.photo.key, height: 150, width: 200, crop: :fill %>
      <% end %>
      <li class="name">
        <p><%=event.name%></p>
      </li>
      <li class="info">
        <p><strong>LOCATION: </strong><%=event.location%></p>
      </li>
      <li class="info">
        <p><strong>CAPACITY: </strong><%=event.capacity%></p>
      </li>
      <li class="info">
        <p><strong>CATEGORY: </strong><%=event.category%></p>
      </li>
      <li class="info">
        <p><strong>Price: </strong><%=event.price%></p>
      </li>
      <%=link_to "MORE INFO", event_path(event)%>
    </div>

  <% end %>
</div>
