
<div class="container">
  <div class="row">
    <div class="col show-card center">
    <%= cl_image_tag @event.photo.key, height: 150, width: 200, crop: :fill %>
      <p class=>
        <h2><%= @event.name %> </h2>
      </p>

      <p>Category:<%= @event.category %></p>
      <li class="show-info">
        <p><strong>Description: </strong><%=@event.description%></p>
      </li>

      <p>
        <%= link_to "Reserve Entry", new_event_booking_path(@event), class: "white-button"  %>
      </p>
    </div>
  </div>
</div>
